body {
  margin: 0 auto;
  width: 90%;
  background-image: url(/img/fondo1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  font-size: 160%;
}

ul {
  list-style: none;
}

main {
  font-family: "Teko", sans-serif;
  color: black;
  text-align: center;
  font-size: 120%;
}

.color {
  color: peru;
  font-size: 220%;
}
