@mixin section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  @include section;
}

@mixin article {
  display: flex;
  flex: 10 1 200px;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 2rem;
  padding: 2rem;
}

article {
  @include article;
}

@mixin listado__de--menu {
  display: flex;
  gap: 3rem;
  font-size: 120%;
  justify-content: flex-end;
  text-decoration: none;
}

.listado__de--menu {
  @include listado__de--menu;
}

@mixin titulo-principal {
  text-align: center;
  text-decoration: underline;
}

.titulo-principal {
  @include titulo-principal;
}
