@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

$font-family-base: "Oswald", sans-serif;

$primary: black;

@import "../node_modules/bootstrap/scss/bootstrap";

body,
html {
  color: black;
  background-image: linear-gradient(
    to top,
    #ebf2f7,
    #0099ff,
    rgb(94, 168, 218)
  );
  background-repeat: no-repeat;
  height: 90%;
  grid-template-rows: auto 1fr auto;
  width: 90%;
  margin: 0 auto;
  font-size: 120%;
}
