@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

$font-family-base: "Oswald", sans-serif;

$primary: black;
$secondary: #0099ff;
$card-border-radius: 2;

$carousel-control-color: #145985;
$carousel-control-opacity: 0.9;

@import "../node_modules/bootstrap/scss/bootstrap";

header {
  color: black;
  background-image: url(../img/fondo1.jpg);
  height: 150px;
  background-position: left center;
  background-size: cover;
  opacity: 0.9;
  border-radius: 1%;
}

body {
  background-image: linear-gradient(to top, #0099ff, #5ea8da);
  background-repeat: no-repeat;
}

.nav-link {
  color: $carousel-control-color;
}

.navbar-brand {
  color: #1d7ebe;
}

.card {
  max-width: 90%;
}

.carousel-item {
}
