* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Teko", sans-serif;
  color: black;
  background-color: #0099ff;
}

header {
  background-color: #0099ff;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 90%;
}

/* grid mas vista mobile*/
.contenedor {
  font-size: 160%;
  padding: 8px;
  display: grid;
  min-width: 100vh;
  grid-gap: 10px;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "contenedor" "contenedor" "contenedor"
    "listado-de-menu" "listado-de-menu" "listado-de-menu"
    "subtitulo" "subtitulo" "subtitulo"
    "quienes__somos__titulo" "quienes__somos__titulo" "quienes__somos__titulo"
    "quienes__somos__texto" "quienes__somos__texto" "quienes__somos__texto"
    "impresion__3d__titulo" "impresion__3d__titulo" "impresion__3d__titulo"
    "impresion__3d__texto" "impresion__3d__texto" "impresion__3d__texto"
    "nuestros__trabajos__titulo" "nuestros__trabajos__titulo" "nuestros__trabajos__titulo"
    "nuestros__trabajos__texto" "nuestros__trabajos__texto" "nuestros__trabajos__texto"
    "donde__encontrarnos__texto" "donde__encontrarnos__texto" "donde__encontrarnos__texto"
    "donde__encontrarnos__logos" "donde__encontrarnos__logos" "donde__encontrarnos__logos"
    "imagenes-3d" "imagenes-3d" "imagenes-3d"
    "imagenes-nuestros-trabajos" "imagenes-nuestros-trabajos" "imaneges-nuestros-trabajos";
}

.contenedor > div,
.contenedor .listado-de-menu,
.contenedor .subtitulo,
.contenedor .quienes__somos__titulo,
.contenedor .quienes__somos__texto,
.contenedor .impresion__3d__titulo,
.contenedor .impresion__3d__texto,
.contenedor .nuestros__trabajos__titulo,
.contenedor .nuestros__trabajos__texto,
.contenedor .donde__encontrarnos__texto,
.contenedor .donde__encontrarnos__logos,
.contenedor .imagenes-3d,
.contenedor .imagenes-nuestros-trabajos {
  background-color: #0099ff;
  padding: 20px;
  border-radius: 4px;
  grid-template-areas:
    contenedor
    listado-de-menu
    subtitulo
    quienes__somos__texto
    quienes__somos__titulo
    impresion__3d__titulo
    impresion__3d__texto
    nuestros__trabajos__titulo
    nuestros__trabajos__textos
    donde__encontrarnos__texto
    donde__encontrarnos__logos
    imagenes-3d
    imagenes-nuestros-trabajos;
}

.contenedor .listado-de-menu,
.contenedor .subtitulo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-areas:
    contenedor
    listado-de-menu
    subtitulo;
}

.contenedor .quienes__somos__titulo,
.contenedor .quienes__somos__texto,
.contenedor .impresion__3d__titulo,
.contenedor .impresion__3d__texto,
.contenedor .nuestros__trabajos__titulo,
.contenedor .nuestros__trabajos__texto,
.contenedor .donde__encontrarnos__titulo,
.contenedor .donde__encontrarnos__texto {
  grid-column: span 3;
  grid-template-areas:
    contenedor
    quienes__somos__texto
    quienes__somos__titulo
    impresion__3d__titulo
    impresion__3d__texto
    nuestros__trabajos__titulo
    nuestros__trabajos__textos
    donde__encontrarnos__texto;
}

.contenedor .imagenes-3d,
.contenedor .imagenes-nuestros-trabajos,
.contenedor .donde__encontrarnos__logos {
  grid-column: span 3;
  grid-template-areas:
    contenedor
    donde__encontrarnos__logos
    imagenes-3d
    imagenes-nuestros-trabajos;
}

.listado-de-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.subtitulo {
  display: flex;
  justify-content: center;
  font-size: 160%;
}
/*  inicio de "quienes somos" */
.quienes__somos__titulo {
  text-align: center;
  font-size: 160%;
}

.quienes__somos__texto {
  text-align: center;
  font-size: 100%;
  margin-top: 2rem;
}
/* fin de "quienes somos" */
/*  inicio de "que es la impresion 3D" */
.impresion__3d__titulo {
  margin-bottom: -10rem;
  font-size: 160%;
  text-align: center;
  margin-top: -20rem;
}

.impresion__3d__texto {
  margin-bottom: 16rem;
  font-size: 100%;
  text-align: center;
  margin-top: -10rem;
}

section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 5rem;
  padding: 2rem;
}

article img {
  order: -1;
  align-self: center;
}
/* fin de "que es la impresion 3d" */
/* inicio de "nuestros trabajos" */
.nuestros__trabajos__titulo {
  text-align: center;
  margin-top: -5rem;
  font-size: 160%;
}

.nuestros__trabajos__texto {
  text-align: center;
  font-size: 100%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
/* fin de "nuestros trabajos */
/* inicio de "donde encontrarnos" */
.donde__encontrarnos__titulo {
  text-align: center;
  margin-top: 1rem;
  font-size: 160%;
}

.donde__encontrarnos__texto {
  text-align: center;
  margin-top: 1rem;
  font-size: 160%;
}

.donde__encontrarnos__logos {
  text-align: center;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* fin de nuestro trabajo */

@media screen and (max-width: 786px) {
  .contenedor {
    grid-template-areas:
      contenedor
      listado-de-menu
      subtitulo
      quienes__somos__texto
      quienes__somos__titulo
      impresion__3d__titulo
      impresion__3d__texto
      nuestros__trabajos__titulo
      nuestros__trabajos__textos
      donde__encontrarnos__texto
      donde__encontrarnos__logos
      imagenes-3d
      imagenes-nuestros-trabajos;
  }
}
